@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~jquery-toast-plugin/src/jquery.toast.css';
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

$primary-color: #03e5fa;
$secondary-color: #5e48cd;

.btn-naked{
    border: none;
    padding: 0;
    background-color: transparent;
}

.logo{
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    margin: 0;
    display: inline-block;
    text-transform: uppercase;
    background: -webkit-linear-gradient(45deg, $primary-color, $secondary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.map-wrapper{
    display: flex;
    flex-direction: row;
    .map-holder{
        width: 70%;
        position: relative;
        .information-toast{
            position: absolute;
            top: 1rem;
            left: 0;
            right: 0;
            width: 70%;
            margin: 0 auto;
            z-index: 100;
            text-align: center;
        }
        #map{
            height: 100vh;
        }
    }
    .filters-wrapper{
        width: 30%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        .results{
            flex: 1;
            overflow-y: auto;
            .result-item{
                padding: 1rem .5rem;
                border-bottom: 1px solid #ced4da;
                display: flex;
                flex-direction: row;
                &:last-child{
                    border-bottom: none;
                }
                .icon-wrapper{
                    width: 32px;
                }
                .content-wrapper{
                    flex: 1;
                    padding-left: .5rem;
                    p{
                        margin-bottom: 0;
                    }
                }
                &.active{
                    background-color: rgba(0, 123, 255, 0.25);
                }
            }
        }
        .buttons-wrapper{
            margin-top: auto;
        }
    }
}

.miniatures-gallery{
    .miniature-item{
        position: relative;
        border: 1px solid #ced4da;
        border-radius: calc(0.3rem - 1px);
        button{
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(50%) translateY(-50%);
            background-color: $danger;
            color: #FFF;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            border-radius: 50%;
            font-size: .7rem;
            border: none;
            padding: 0;
        }
        img{
            border-radius: calc(0.3rem - 1px);
        }
        &.miniature-item-loading{
            padding-top: 100%;
            position: relative;
            .icon-wrapper{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
    &.miniatures-gallery-presentation{
        display: flex;
        flex-direction: row;
        margin-left: -5px;
        margin-right: -5px;
        .miniature-wrapper{
            padding: 0 5px;
            width: 20%;
            margin-bottom: 5px;
            .miniature-item{
                background-color: #FFF;
                display: block;
                padding: 0;
            }
        }
    }
}

#images-gallery{
    .close{
        position: absolute;
        top: .25rem;
        right: .5rem;
        // transform: translateX(50%) translateY(-50%);
        background-color: #FFF;
        border-radius: 50%;
        z-index: 10;
        color: #212529;
        opacity: 1;
        padding: 0;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        font-size: 1rem;
        text-shadow: none;
    }
    .modal-footer{
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border-top: none;
        .image-miniature-wrapper{
            max-width: 100px;
            border: 1px solid #ced4da;
            border-radius: calc(0.3rem - 1px);
            &.active{
                border-color: $primary;
            }
            button{
                background-color: transparent;
                padding: 0;
                border: none;
            }
        }
    }
}
