@charset 'UTF-8';

@import '~@splidejs/splide/dist/css/splide.min.css';
@import '~toastify-js/src/toastify.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Bowlby One SC;
        font-weight: 400;
        src: url(../../fonts/BowlbyOneSC-Regular.ttf) format("truetype");
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 400;
        src: url(../../fonts/Montserrat-Regular.ttf) format("truetype");
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 700;
        src: url(../../fonts/Montserrat-Bold.ttf) format("truetype");
    }
}

.logo{
    background: -webkit-linear-gradient(45deg, theme('colors.cyan'), theme('colors.purple-heart'));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.splide {
    &__arrow {
        svg {
            filter: drop-shadow(0 0 3px rgb(0 0 0 / 0.4));

            path {
                fill: theme('colors.white');
            }
        }
    }
}

.form-check-input {
    &:checked {
        background-color: theme('colors.cyan');
        border-color: theme('colors.cyan');

        &[type=checkbox]{
            background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e")
        }

        &[type=radio]{
            background-image:url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-4 -4 8 8%22%3E%3Ccircle r=%222%22 fill=%22%23fff%22/%3E%3C/svg%3E")
        }
    }

    &[type=checkbox]:indeterminate{
        background-color:#0d6efd;
        border-color:#0d6efd;
        background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e")
    }

    &:disabled{
        pointer-events:none;
        filter:none;
        opacity:.5
    }
}

/*@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~jquery-toast-plugin/src/jquery.toast.css';
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

$primary-color: #03e5fa;
$secondary-color: #5e48cd;

.btn-naked{
    border: none;
    padding: 0;
    background-color: transparent;
}



.map-wrapper{
    display: flex;
    flex-direction: row;
    .map-holder{
        width: 70%;
        position: relative;
        .information-toast{
            position: absolute;
            top: 1rem;
            left: 0;
            right: 0;
            width: 70%;
            margin: 0 auto;
            z-index: 100;
            text-align: center;
        }
        #map{
            height: 100vh;
        }
    }
    .filters-wrapper{
        width: 30%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        .results{
            flex: 1;
            overflow-y: auto;
            .result-item{
                padding: 1rem .5rem;
                border-bottom: 1px solid #ced4da;
                display: flex;
                flex-direction: row;
                &:last-child{
                    border-bottom: none;
                }
                .icon-wrapper{
                    width: 32px;
                }
                .content-wrapper{
                    flex: 1;
                    padding-left: .5rem;
                    p{
                        margin-bottom: 0;
                    }
                }
                &.active{
                    background-color: rgba(0, 123, 255, 0.25);
                }
            }
        }
        .buttons-wrapper{
            margin-top: auto;
        }
    }
}

.miniatures-gallery{
    .miniature-item{
        position: relative;
        border: 1px solid #ced4da;
        border-radius: calc(0.3rem - 1px);
        button{
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(50%) translateY(-50%);
            background-color: $danger;
            color: #FFF;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            border-radius: 50%;
            font-size: .7rem;
            border: none;
            padding: 0;
        }
        img{
            border-radius: calc(0.3rem - 1px);
        }
        &.miniature-item-loading{
            padding-top: 100%;
            position: relative;
            .icon-wrapper{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
    &.miniatures-gallery-presentation{
        display: flex;
        flex-direction: row;
        margin-left: -5px;
        margin-right: -5px;
        .miniature-wrapper{
            padding: 0 5px;
            width: 20%;
            margin-bottom: 5px;
            .miniature-item{
                background-color: #FFF;
                display: block;
                padding: 0;
            }
        }
    }
}

#images-gallery{
    .close{
        position: absolute;
        top: .25rem;
        right: .5rem;
        // transform: translateX(50%) translateY(-50%);
        background-color: #FFF;
        border-radius: 50%;
        z-index: 10;
        color: #212529;
        opacity: 1;
        padding: 0;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        font-size: 1rem;
        text-shadow: none;
    }
    .modal-footer{
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border-top: none;
        .image-miniature-wrapper{
            max-width: 100px;
            border: 1px solid #ced4da;
            border-radius: calc(0.3rem - 1px);
            &.active{
                border-color: $primary;
            }
            button{
                background-color: transparent;
                padding: 0;
                border: none;
            }
        }
    }
}
*/